/* You can add global styles to this file, and also import other style files */

.flexDiv {
    display:flex;
    flex-wrap: wrap;
}
.input {
    margin: 5px;
}
.colorTest {
    background-color: gray;
    padding: 1rem;
}
.colorTest>div {
    height: 1.5rem;
    width: 1.5rem;
}